# Default ignored files
/shelf/
/workspace.xml
**/*expanded.xml
**/*.class
**/*.tmp
**/*.out
**/*.log
**/*.swp
**/x.sh
.idea/libraries/
.idea/gradle.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/dbnavigator.xml
**/build/
.idea/SMT.iml
.idea/libraries/*
.idea/modules/
.idea/modules.xml
.idea/shelf
.idea/git_toolbox_prj.xml
DEV*properties
build/
classes/
log/
out/
logs/
persist/
tmp/
store/
.gradle/
**/.DS_Store
.idea/dictionaries/*
.idea/modules/CoreStrats/CoreStrats_perfTests.iml
.idea/modules/strats/strats_test.iml
PROD1*expanded.properties
UAT*expanded.properties
/.idea/csv-plugin.xml
/.idea/libraries-with-intellij-classes.xml

